[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.0,<3.0.10"
djangorestframework = "==3.10"
djangorestframework-simplejwt = "==5.2.2"
pytest = "*"
pytest-django = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.11"
